@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
.bg-custom-dark {
  background: #1a2035;
}
.sidebar-h-100-vh {
  height: 100vh;
}
.sidebar-list-color {
  color: #b9babf;
}

@media screen and (max-width: 768px) {
  .sidebar-h-100-vh {
    height: 100%;
  }
}
