@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
.bg-custom-dark {
  background: #505de6 !important;
}
.active-custom-color {
  color: #505de6 !important;
}
.sidebar-h-100-vh {
  height: 100vh;
}
.sidebar-list-color {
  color: #b9babf;
}
table tr td {
  padding: 8px 0px !important;
}
table tr th,
table tr td {
  padding-left: 20px !important;
}

/* Tickets Css */
.weekly-market-container p,
.weekly-market-container label,
.weekly-market-container div {
  color: #24267c;
}
.income-receipt-container table tbody tr td input,
.cash-receipt-container table tbody tr td input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  padding-left: 5px;
}
.income-receipt-container table tbody tr:nth-child(1) td {
  height: 200px;
}
.income-receipt-container table tbody tr td,
.income-receipt-container table thead tr th,
.income-receipt-container label,
.cash-receipt-container table thead tr th,
.cash-receipt-container table tbody tr td,
.cash-receipt-container label,
.cash-receipt-container table tbody tr td div p {
  font-size: 14px !important;
}
.cash-receipt-container table tbody tr:nth-child(1) td {
  height: 150px;
}
.antu-view-tower-container input {
  padding-left: 5px;
}
.antu-view-tower-container {
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .sidebar-h-100-vh {
    height: 100%;
  }
}
@media screen and (max-width: 576px) {
  .antu-view-tower-container {
    width: 100% !important;
  }
}

.registration-form-container input:focus,
.registration-form-container select:focus,
.create-form-container input:focus,
.waste-device-report-container input:focus {
  box-shadow: none !important;
  outline: 0 !important;
}
.registration-form-container {
  box-shadow: 0px -5px 20px 0px #dadada;
}
.dt-length {
  display: flex;
  gap: 10px;
  align-items: center;
}
.category-tbl tbody tr:nth-child(even) td {
  background-color: #ebebeb;
}
.dt-input {
  outline: none;
}
.dt-paging .current {
  border: 0 !important;
}
.buttons-pdf {
  background: #ff2d2d !important;
  color: #fff !important;
  border: none !important;
  outline: none !important;
  padding: 6px 25px !important;
  text-transform: capitalize;
  font-size: 13px !important;
}
.buttons-excel {
  background: #038b03 !important;
  color: #fff !important;
  border: none !important;
  outline: none !important;
  padding: 6px 25px !important;
  text-transform: capitalize !important;
  font-size: 13px !important;
}
.buttons-print {
  background: #7d7d7d !important;
  border: none !important;
  outline: none !important;
  color: #fff !important;
  padding: 6px 25px !important;
  text-transform: capitalize !important;
  font-size: 13px !important;
}
.waste-device-report-container .footer p {
  font-size: 13px;
}
@media screen and (max-width: 767px) {
  div.dt-container div.dt-layout-row:not(.dt-layout-table) div.dt-layout-cell {
    text-align: left !important;
  }
  div.dt-buttons {
    text-align: left !important;
  }
}
.sidebar-title-bg {
  background: #6c73c3;
}
.next:hover,
.previous:hover,
.first:hover,
.last:hover {
  outline: none !important;
  border: 0 !important;
  box-shadow: none !important;
}
.next:focus,
.previous:focus,
.first:focus,
.last:focus {
  border: 0 !important;
  outline: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
}
.dt-paging-button span,
.dt-paging-button {
  padding: 0px !important;
  display: flex;
  border-radius: 0 !important;
  height: 32px !important;
  width: 20px !important;
  align-items: center;
  justify-content: center;
  width: 30px !important;
  color: #fff !important;
}
.current {
  background: #d1d1d1 !important;
}
.current:hover {
  background-color: #505de6 !important;
  color: #fff !important;
}
.next,
.previous,
.last,
.first {
  width: 60px !important;
  display: inline-flex !important;
  justify-content: center !important;
  background: #505de6 !important;
}
.dt-paging nav {
  display: flex;
  gap: 5px !important;
}
#myTable_wrapper .current:hover {
  color: white !important;
}
.dt-layout-table {
  margin: 25px 0px !important;
}
